@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #FFB22C;
	--sub-title-color: #aaaaaa;
	--income-color: #04bc04;
	--outcome-color: #c32f18;
}

#start {
	background: linear-gradient(45deg, #F3FEB8, #FFDE4D);
	width: 100svw;
	height: 100svh;
}

#start .greeting {
	height: 0;
	overflow: hidden;
	transition: height 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#start .greeting.show {
	height: 25%;
}

@keyframes slideUp {
	0% {
		height: 0;
	}

	100% {
		height: 25%;
	}
}

.main-color {
	color: #FFB22C;
}

.income-bg {
	background: var(--income-color);
}

.outcome-bg {
	background: var(--outcome-color);
}

.sub-title-color {
	color: var(--sub-title-color);
}

.full_center-btn {
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 500;
	border-radius: 12px;
	font-size: 14px;
}

.submit-btn {
	background-color: #FFB22C;
	color: white
}

.submit-btn:hover {
	opacity: 0.7;
}

.cancel-btn {
	background-color: white;
	color: var(--outcome-color);
	border: 1px solid var(--outcome-color);
}

.cancel-btn:hover {
	background: var(--outcome-color);
	border-color: var(--outcome-color);
	color: white;
}

.reset-btn {
	background-color: white;
	color: #585858;
	border: 1px solid #585858;
}

.reset-btn:hover {
	background: #585858;
	border-color: #585858;
	color: white;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}



.main_gradient_tab {
	background: linear-gradient(0.6turn, #ffb22c7d, #ffb22c);
}

.toggle-tabs {
	position: relative;
}

.tab-item {
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.active-tab {
	color: #fff;
	transform: scale(1.1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.inactive-tab {
	background-color: #f0f0f0;
	color: #333;
	transform: scale(1);
}

.active-tab:hover {
	transform: scale(1.2);

}

.modal__form input {
	border-radius: 10px;
	padding-left: 10px;
}